/* REST */
.rest-container {
  width: 100%;
}
.rest-sideMenu {
  float: left;
  width: 20%;
  background-color: #efefef;
}
.rest-content {
  float: left;
  width: 80%;
}
.rest-heading {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
